.about {
    margin: 50px auto;
    justify-content: space-between;
    h3, h4 {
        text-align: left;
    }
    .aboutMeImg {
        border-radius: 5%;
        width: 30%;
        max-width: 400px;
        align-self: center;
        @include imgBoxShadow(10px);
    }
    .aboutMeText {
        width: 70%;
        padding: 0 50px;
        justify-self: space-between;
        p {
            width: 100%;
        }
    }
    .aboutMeSocials {
        margin: 10px 0;
        width: 100%;
        a {
            @include socials();
        }   
        a:nth-of-type(2) {
            margin: 0 10px;
        }
        a:hover, a:focus {
            @include socialsHover();
        }
    }
    .aboutResume button:focus {
        @include buttonHover();
    }
    img {
        border-radius: 5%;
    }
}



