// COLORS STYLE PAGE
$colorWhite: rgba(255, 255, 255, 1);
$colorOffWhite: rgba(242, 242, 242, 1);
$colorLightGray: rgba(72, 72, 72, 1);
$colorDarkGray:rgba(34, 34, 34, 1);
$colorBlack: rgba(0, 0, 0, 1);
