// CONTACT section styles
.contact {
    padding-top: 100px;
    background-color: $colorOffWhite;
    min-height: 60vh;
    .contactDivs {
        justify-content: space-evenly;
        align-items: center;
    }
    p, h3, h4 {
        text-align: center;
    }
    h4 {
        margin-bottom: 10px;
    }
    a {
        @include button();
    }
    a:hover {
        @include buttonHover();
    }
    form {
        margin: 0 auto 10px;
        width: 500px;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-family: $fontRaleway;
        input {
            margin: 10px 0;
            width: 100%;
            height: 40px;
            padding: 10px;
        }
        textarea {
            margin: 10px 0;
            width: 100%;
            padding: 10px;
            height: 100px;
            min-width: 500px;
        }
        button {
            width: 25%;
            margin: 0 auto;
        }
    }
    .map {
        width: 500px;
        height: 500px;
        
        #map {
            border-radius: 5%;
            height: 100%;
        }
    }

}