// PORTFOLIO section styles
.portfolio {
    padding: 100px 0;
    h3, h4 {
        text-align: center;
    }
    .portfolioContainer {
        align-self: center;
    }
}

.portfolioItem {
    justify-content: space-between;
    padding: 20px 0;
    .portfolioImg {
        border-radius: 5%;
        width: 30%;
        max-width: 400px;
        align-self: center;
        @include imgBoxShadow(10px);
        position: relative;
        img {
            transition: 0.5s;
        }
    }

    .portfolioImgBackground {
        transition: 0.5s;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3rem;
        color: white;
        background-color: $colorDarkGray;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
    .portfolioImg:hover img, .portfolioImg:focus img{
        opacity: 0.5;
    }

    .portfolioImg:hover .portfolioImgBackground, .portfolioImg:focus .portfolioImgBackground { 
        opacity: 1;
    }

    .portfolioText {
        width: 70%;
        padding: 0 50px;
        justify-self: space-between;
        h5 {
            height: 30px;
        }
        p {
            width: 100%;
        }
        i {
            font-size: 3rem;
        }
        i:nth-of-type(2n) {
            margin: 0 10px;
        }
        .fa-chevron-left{
            margin-left: 20px;
        }
        .fa-chevron-right, .fa-chevron-left {
            font-size: 1.5rem;
        }
    }
    .portfolioUsedSkills {
        width: 100%;
    }
    .portfolioSocials {
        margin: 10px 0;
        width: 100%;
        align-items: center;
        a {
            @include socials();
        } 
        a:hover, a:focus {
            @include socialsHover();
        }  
    }
    img {
        border-radius: 5%;
    }
}

.portfolioItem:nth-of-type(2) {
    text-align: right;
    h5, i {
        text-align: right;
    }
    .fa-chevron-right {
        margin-right: 20px;
    }
    .portfolioSocials {
        justify-content: right;
    }
    .portfolioImg {
        @include imgBoxShadow(-10px);
    }
}
